@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:700,400");

  html,body,div,span,h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline
  }

  body{
  line-height:1;
  font-family: "IBM Plex Mono", Helvetica;
  height: 100%;
  }
 
  * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  }

  .dark {
    background-color: #000028;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .page {
    background-color: #000028;
    width: 1024px;
    height: 5008px;
    position: relative;
  }

  .overlap {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
  }

  .overlap-group {
    position: relative;
    width: 1024px;
    height: 768px;
  }
  
  .header {
    position: absolute;
    width: 1024px;
    height: 768px;
    top: 0;
    left: 0;
    background-color: transparent;
    background-image: url(assets/back.png);
    background-size: cover;
    background-position: 50% 50%;
  }

  .theme-switch {
    position: absolute;
    width: 230px;
    height: 26px;
    top: 20px;
    left: 397px;
  }

  .n {
    display: inline-flex;
    height: 26px;
    align-items: center;
    justify-content: center;
    padding: 0px 13px;
    position: absolute;
    top: 0;
    left: 160px;
    border: 1px solid;
    border-color: #ff006f;
  }
  
  .a {
    display: inline-flex;
    height: 26px;
    align-items: center;
    justify-content: center;
    padding: 0px 13px;
    position: absolute;
    top: 0;
    left: 80px;
  }
  
  .d {
    display: inline-flex;
    height: 26px;
    align-items: center;
    justify-content: center;
    padding: 0px 13px;
    position: absolute;
    top: 0;
    left: 0;
  }
    
  .view-13 {
    position: absolute;
    width: 54px;
    height: 26px;
    top: 20px;
    left: 943px;
  }
   .switch-text {
    position: relative;
    width: 44px;
    height: 23px;
    color: #ff006f;
    text-align: center;
    line-height: 18px;
    
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
  }
  
  .ellipse {
    position: absolute;
    width: 9px;
    height: 9px;
    top: 8px;
    left: 43px;
    background-color: #ff006f;
    border-radius: 4.5px;
    box-shadow: 0px 0px 4px 2px #ff0070;
  }
  
  .text-wrapper-16 {
    position: absolute;
    width: 33px;
    top: 0;
    left: 0;
    
    font-weight: 400;
    color: #ff006f;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
  }

  .decorations {
    display: flex;
    flex-direction: column;
    width: 1024px;
    height: 768px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .corners {
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
  }
  
  .c1, .c2{
    position: absolute;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-color: #ff006f;
  }

  .c1 {
    top: 0;
    left: 959px;
    border-top-width: 1px;
    border-right-width: 1px;

  }
  
  .c2 {
    top: 703px;
    left: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
  }

  .no-focus {
    position: absolute;
    width: 759px;
    top: 318px;
    left: 0;
    text-shadow: 4px 4px 0px #ff0070;
    
    font-weight: 700;
    color: #db00ff;
    font-size: 157px;
    letter-spacing: 0;
    line-height: 129.5px;
    white-space: nowrap;
  }
  .title-back {
    position: absolute;
    width: 491px;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #ff006f;
  }
  .title {
    position: absolute;
    width: 493px;
    height: 71px;
    top: 563px;
    left: 513px;
  }
  .text1 {
    position: absolute;
    width: 491px;
    top: 0;
    left: 0;
    font-weight: 700;
    color: #000028;
    line-height: 23.4px;
    
    font-size: 18px;
    letter-spacing: 0;
  }